*
{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/*              Tipos mais utilizados                               */
/*               Rgb e hexadecimal                                  */



/*                      Rgb-(0,0,0)                                         */


#hello-world {
  background: rgb(230, 10, 50);  
}



/*                    Hexadecimal-#fff                                            */
/*              Optar sempre pelo uso do Hexadecimal                                           */
#hello-world-2 {
  background: #38b94e;
}



/*                 Rgba -(0,0,0,opacidade-0.1)                                         */

#hello-world-3{
  background: rgba(123, 43, 12, 0.2);
}
