*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(68, 68, 68);
}

.container {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100vw;
  background: rgb(150, 150, 150);
  height: 10vh;
}

.container ul  {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.container ul li a {
  margin: 0px 10px 0px;
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
  font-size: 2rem;
}

.content {
  margin: 20px 400px 0px;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  display: flex;
}

.content img {
  height: 400px;
  width: 500px;
}